[Unit]
Description=Tuus Night Mode
After=graphical.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/johan/Tuus/tools/night_mode.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
